<div class="dfs-help__header"
     mat-dialog-title>
    Справка о системе
</div>
<div class="dfs-help__inner"
     mat-dialog-content
     cdkScrollable>
    <section>
        <div class="dfs-help__inner-label">Назначение системы</div>
        <p>Данная система предназначена для настройки и симуляции информационных потоков в небольшой IT компании.</p>
        <p>
            Система обеспечивает:
        </p>
        <p>
            1) Общесистемные функции:
        </p>
        <ul>
            <li>настройка симуляции;</li>
            <li>загрузка и сохранение настроек симуляции;</li>
            <li>запуск и управление симуляцией;</li>
            <li>выдача статистики работы симуляции;</li>
            <li>выдача справочной информации.</li>
        </ul>
        <p>
            2) Функции системы:
        </p>
        <ul>
            <li>настройка потока заявок;</li>
            <li> выбор и настройка задействованных подсистем (отделов) – менеджмента и управления, разработки, дизайна, поддержки:
                <ol>
                   <li>ввод количества сотрудников;</li>
                   <li>настройка законов распределения для потоков данных.</li>
                </ol>
            <li>настройка параметров потоков данных симуляции;</li>
            <li>загрузка и сохранение настроек симуляции;</li>
            <li>запуск симуляции;</li>
            <li>управление симуляцией:
                <ol>
                    <li>остановка, приостановка, продолжение симуляции;</li>
                    <li>управление модельным временем;</li>
                    <li>ручная генерация событий в основные потоки данных.</li>
                </ol>
            </li>
            <li>просмотр блока статистики работы симуляции.</li>
        </ul>
    </section>
    <section>
        <div class="dfs-help__inner-label">Установка системы</div>
        <p>Система поставляется в виде zip-архива. Данный файл необходимо распаковать в любую директорию на жестком
            диске. Запускаемым файлом системы является файл index.js. Запуск происходит с помощью команды «node
            index.js»
        </p>
    </section>
    <section>
        <div class="dfs-help__inner-label">Работа с системой</div>
        <p>
            После запуска необходима открыть браузер на странице “http://localhost:3000”.
            Вместо localhost может быть IP адрес компьютера, на котором запущено приложение.
        </p>
        <p>
            При открытии указанного выше адреса открывается начальный экран, в котором необходимо ввести имя симуляции и,
            при наличии файла с настройками, загрузить его. После чего пользователю необходимо настроить симуляцию.
        </p>
        <p>
            Под настройкой симуляции подразумевается настройка потоков и параметров,
            отвечающих за обработку событий в потоках, выбор и настройка отделов.
        </p>
        <p>
            На странице настройки симуляции настраиваются следующие потоки:
        </p>
        <ul>
            <li> поток заявок на разработку;</li>
            <li> поток ответа заказчика;</li>
            <li>поток обработки заявки отделом менеджмента;</li>
            <li>поток обработки дизайна;</li>
            <li>поток доработки дизайна;</li>
            <li>поток разработки решения;</li>
            <li> поток заявок на поддержку;</li>
            <li>поток ответа заказчика.</li>
        </ul>
        <p>
            Пользователь вправе выбрать отделы для симуляции:
            отдел дизайна, отдел поддержки. Отделы менеджмента и разработки являются обязательными.
        </p>
        <p>
            В отделах, кроме менеджмента возможно настроить количество сотрудников.
        </p>
        <p>
            На всем этапе работы пользователю доступна справка по работе программы,
            кнопка открытия которой находится в шапке приложения.
        </p>
        <p>
            После настройки симуляции пользователь переходит на страницу с
            подтверждением введенных настроек, после чего может запустить симуляцию.
        </p>
        <p>
            После запуска симуляции пользователь попадает на страницу симуляции.
            В зависимости от настроек на страницу могут имеется или отсутствовать следующие элементы:
        </p>
        <ul>
            <li>кнопка генерации заявки на разработку;</li>
            <li>отделы дизайна и поддержки;</li>
            <li>кнопка генерации заявки на поддержку;</li>
        </ul>
        <p>
            Пользователь может управлять модельным временем – ускорять или замедлять его.
            Кнопка «Сбросить» сбрасывает ускорение модельного времени до 1.
        </p>
        <p>
            Рядом с модельным временем находятся параметры текущей заявки – ее номер,
            необходимость дизайна и дни, затраченные на разработку.
        </p>
        <p>
            Пользователь может просматривать статистику работы симуляции в специальном блоке, статистику работы отдела.
        </p>
        <p>
            Пользователь может приостановить симуляцию, завершить ее или продолжить.
            На каждое из этих действий система меняет состояние, статус которого отображается в заголовке.
        </p>
        <p>
            Если пользователь завершает симуляцию, то ему выводится блок статистики работы симуляции в окне.
            После чего пользователь может остаться на странице управления или выйти на начальную страницу.
        </p>
    </section>
</div>
<div class="dfs-help__actions" mat-dialog-actions>
    <button mat-raised-button
            mat-dialog-close
            color="primary">
        Ок
    </button>
</div>
