<ng-container *ngIf="_settingsConfig$ | async as settingsConfig">
    <dfs-setting-block *ngFor="let block of settingsConfig"
                       [class._visible]="block.active"
                       [title]="block.title">
        <ng-container [ngSwitch]="block.template">
            <ng-template *ngSwitchCase="'departmentSettings'"
                         [ngTemplateOutlet]="departmentSettingsTemplate">
            </ng-template>
            <ng-template *ngSwitchDefault
                         [ngTemplateOutlet]="">
            </ng-template>
        </ng-container>
    </dfs-setting-block>
    <div class="dfs-settings__nav-buttons">
        <button mat-raised-button
                (click)="_onBackClick()">
            Назад
        </button>
        <button mat-raised-button
                color="primary"
                (click)="_onNextClick()">
            Далее
        </button>
    </div>

    <ng-template #departmentSettingsTemplate>
        <form class="dfs-settings__departments-settings">
            <mat-checkbox *ngFor="let value of _departmentsConfig$ | async"
                          [id]="value.settingsConfigId.toString()"
                          (change)="_onDepartmentToggle(value.settingsConfigId, $event.checked)">
                {{value.name}}
            </mat-checkbox>
        </form>
    </ng-template>
</ng-container>
