@import "../../common/colors.less";

.dfs-manage {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 10px 20px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-label {
            font-size: 28px;
            margin: 10px;

            &-status {
                font-size: 25px;
                font-weight: 450;
                color: @light-main;
            }
        }

        &-buttons {
            display: flex;
            justify-content: space-between;
            margin-left: 10px;

            ._margin-right {
                margin-right: 10px;
            }
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }

    &__model-time {
        &-block {
            display: flex;
            flex-direction: column;
            flex: 1;
            align-items: center;
            padding: 4px;
            font-size: 18px;

            & > div {
                margin: 4px;
            }
        }

        &-label {
            font-weight: 500;
        }
    }

    &__current-block {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 4px 10px;

        &-label {
            font-size: 20px;
            margin-bottom: 10px;
        }
    }

    &__buttons-block {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 4px;
    }

    &__block {
        display: flex;
        flex-direction: column;
        flex: 0 1 auto;

        &-field {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 4px;
            font-size: 18px;

            &-value {
                font-weight: 500;
                margin-left: 10px;
            }
        }
    }

}
