<ng-container>
    <div class="dfs-manage__header">
        <div class="dfs-manage__header-label">Управление симуляцией</div>
        <div class="dfs-manage__header-buttons">
            <button class="_margin-right"
                    mat-raised-button
                    color="warn">
                Завершить
            </button>
            <button mat-raised-button
                    color="accent">
                Пауза
            </button>
        </div>
    </div>
    <div class="dfs-manage__inner">
        <dfs-page-block [title]="'Основные параметры'">
            <div class="dfs-manage__model-time-block">
                <div class="dfs-manage__model-time-label">Модельное время: {{"0"}}</div>
                <div class="dfs-manage__model-time-block">
                    <div>Текущее ускорение: {{"1"}}</div>
                    <div>
                        <mat-button-toggle-group name="time" aria-label="time">
                            <mat-button-toggle value="bold">Замедлить</mat-button-toggle>
                            <mat-button-toggle value="italic">Сбросить</mat-button-toggle>
                            <mat-button-toggle value="underline">Ускорить</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </div>
            </div>
            <div class="dfs-manage__current-block">
                <div>Параметры текущей заявки</div>
                <div>
                    Settings
                </div>
            </div>
            <div class="dfs-manage__buttons-block">
                <button class="_margin-right"
                        mat-raised-button
                        color="primary">
                    Сгенерировать заявку
                </button>
            </div>
        </dfs-page-block>
        <dfs-manage-containers [title]="'Мониторинг и управление отделами'">
            <dfs-manage-block [title]="'Отдел менеджмента и обработки заявок'">
                test
            </dfs-manage-block>
            <dfs-manage-block [title]="'Отдел дизайна'">
                test
            </dfs-manage-block>
            <dfs-manage-block [title]="'Отдел разработки'">
                test
            </dfs-manage-block>
            <dfs-manage-block [title]="'Отдел техподдержки'">
                test
            </dfs-manage-block>
        </dfs-manage-containers>
    </div>
</ng-container>
