<ng-container>
    <div class="dfs-manage__header">
        <div class="dfs-manage__header-label">
            Управление симуляцией
            <span class="dfs-manage__header-label-status">[{{(simulationStatus$ | async)}}]</span>
        </div>
        <div class="dfs-manage__header-buttons"
             *ngIf="(simulationState$ | async) as simulationState">
            <button class="_margin-right"
                    mat-raised-button
                    color="warn"
                    [disabled]="simulationState.state === 'stop'"
                    (click)="_onStopSimulationClick()">
                Завершить
            </button>
            <button *ngIf="simulationState.state !== 'stop'"
                    mat-raised-button
                    color="accent"
                    (click)="_onChangeSimulationState()">
                {{(simulationState$ | async).state === "run" ? "Пауза" : "Продолжить"}}
            </button>
            <button *ngIf="simulationState.state === 'stop'"
                    mat-raised-button
                    color="accent"
                    (click)="_onExitClick()">
                Выйти
            </button>
        </div>
    </div>
    <div class="dfs-manage__inner"
         *ngIf="(simulationState$ | async) as simulationState">
        <dfs-page-block [title]="'Основные параметры'">
            <div class="dfs-manage__model-time-block">
                <div class="dfs-manage__model-time-label">Модельное время: {{"0"}}</div>
                <div class="dfs-manage__model-time-block">
                    <div>Текущее ускорение: {{"1"}}</div>
                    <div>
                        <mat-button-toggle-group name="time"
                                                 aria-label="time"
                                                 [disabled]="simulationState.state !== 'run'">
                            <mat-button-toggle value="bold">Замедлить</mat-button-toggle>
                            <mat-button-toggle value="italic">Сбросить</mat-button-toggle>
                            <mat-button-toggle value="underline">Ускорить</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </div>
            </div>
            <div class="dfs-manage__current-block">
                <div class="dfs-manage__current-block-label">
                    Параметры текущей заявки
                </div>
                <div>
                    <div class="dfs-manage__block-field">
                        Номер:
                        <span class="dfs-manage__block-field-value">{{3}}</span>
                    </div>
                    <div class="dfs-manage__block-field">
                        Необходимость дизайна:
                        <span class="dfs-manage__block-field-value">{{"Нет"}}</span>
                    </div>
                    <div class="dfs-manage__block-field">
                        Уже затрачено на разработку, дни:
                        <span class="dfs-manage__block-field-value">{{2}}</span>
                    </div>
                </div>
            </div>
            <div class="dfs-manage__buttons-block">
                <button class="_margin-right"
                        mat-raised-button
                        color="primary"
                        [disabled]="simulationState.state !== 'run'"
                        (click)="_onGenerateRequest()">
                    Сгенерировать заявку
                </button>
            </div>
        </dfs-page-block>
        <dfs-manage-containers [title]="'Мониторинг и управление отделами'">
            <dfs-manage-block [title]="'Отдел менеджмента и обработки заявок'">
                <div class="dfs-manage__block-field">Заявка в обработке:
                    <span class="dfs-manage__block-field-value">{{1}}</span>
                </div>
            </dfs-manage-block>
            <dfs-manage-block [title]="'Отдел дизайна'">
                <div class="dfs-manage__block-field">Число сотрудников (занято / всего):
                    <span class="dfs-manage__block-field-value">
                        {{simulationState.departmentsParams.designers.employedWorkersCount }}
                        / {{simulationState.departmentsParams.designers.workersCount}}
                    </span>
                </div>
                <div class="dfs-manage__block-field">Заявка в дизайне:
                    <span class="dfs-manage__block-field-value">{{'Отсутствует'}}</span>
                </div>
                <div class="dfs-manage__block-field">Доработка:
                    <span class="dfs-manage__block-field-value">{{"Нет"}}</span>
                </div>
                <div class="dfs-manage__block-field">
                    Средняя загруженность отдела:
                    <span class="dfs-manage__block-field-value">{{51}}%</span>
                </div>
            </dfs-manage-block>
            <dfs-manage-block [title]="'Отдел разработки'">
                <div class="dfs-manage__block-field">Число сотрудников (занято / всего):
                    <span class="dfs-manage__block-field-value">
                        {{simulationState.departmentsParams.developers.employedWorkersCount}}
                        /   {{simulationState.departmentsParams.developers.workersCount }}
                    </span>
                </div>
                <div class="dfs-manage__block-field">Заявка в разработке:
                    <span class="dfs-manage__block-field-value">{{1}}</span>
                </div>
                <div class="dfs-manage__block-field">
                    Средняя загруженность отдела:
                    <span class="dfs-manage__block-field-value">{{73}}%</span>
                </div>
            </dfs-manage-block>
            <dfs-manage-block [title]="'Отдел поддержки'">
                <div class="dfs-manage__block-field">Число сотрудников (занято / всего):
                    <span class="dfs-manage__block-field-value">
                         {{simulationState.departmentsParams.support.employedWorkersCount}}
                        /  {{simulationState.departmentsParams.support.workersCount }}
                    </span>
                </div>
                <div class="dfs-manage__block-field">Заявка в обработке:
                    <span class="dfs-manage__block-field-value">
                        {{'Отсутствует'}}
                    </span>
                </div>
                <div class="dfs-manage__block-field">
                    Средняя загруженность отдела:
                    <span class="dfs-manage__block-field-value">{{17}}%</span>
                </div>
                <button mat-raised-button
                        color="primary"
                        [disabled]="simulationState.state !== 'run'">
                    Сгенерировать заявку
                </button>
            </dfs-manage-block>
        </dfs-manage-containers>
        <dfs-page-block [title]="'Статистика работы симуляции'">
            <div class="dfs-manage__block">
                <div class="dfs-manage__block-field">
                    Обработанные заявки:
                    <span class="dfs-manage__block-field-value">{{2}}</span>
                </div>
                <div class="dfs-manage__block-field">
                    Общее модельное время работы, дни:
                    <span class="dfs-manage__block-field-value">{{34}}</span>
                </div>
                <div class="dfs-manage__block-field">
                    Количество отмененных заявок
                    <span class="dfs-manage__block-field-value">{{1}}</span>
                </div>
                <div class="dfs-manage__block-field">
                    Среднее время разработки и выдачи проекта, дни:
                    <span class="dfs-manage__block-field-value">{{15}}</span>
                </div>
                <div class="dfs-manage__block-field">
                    test:
                    <span class="dfs-manage__block-field-value">{{1}}</span>
                </div>
            </div>
        </dfs-page-block>
    </div>
</ng-container>

<ng-template #resultStatisticTemplate>
    <div class="dfs-manage__result-block-title"
         mat-dialog-title>
        Статистика работы симуляции
    </div>
    <div class="dfs-manage__block"
         mat-dialog-content>
        <div class="dfs-manage__block-field">
            Обработанные заявки:
            <span class="dfs-manage__block-field-value">{{2}}</span>
        </div>
        <div class="dfs-manage__block-field">
            Общее модельное время работы, дни:
            <span class="dfs-manage__block-field-value">{{34}}</span>
        </div>
        <div class="dfs-manage__block-field">
            Количество отмененных заявок
            <span class="dfs-manage__block-field-value">{{1}}</span>
        </div>
        <div class="dfs-manage__block-field">
            Среднее время разработки и выдачи проекта, дни:
            <span class="dfs-manage__block-field-value">{{15}}</span>
        </div>
        <div class="dfs-manage__block-field">
            test:
            <span class="dfs-manage__block-field-value">{{1}}</span>
        </div>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-raised-button
                mat-dialog-close
                color="primary">
            Закрыть
        </button>
    </div>
</ng-template>
