<ng-container>
    <div class="dfs-manage__header">
        <div class="dfs-manage__header-label">Управление симуляцией</div>
        <div class="dfs-manage__header-buttons">
            <button class="_margin-right"
                    mat-raised-button
                    color="warn">
                Завершить
            </button>
            <button mat-raised-button
                    color="accent">
                Пауза
            </button>
        </div>
    </div>
    <div class="dfs-manage__inner">
        Not implemented
    </div>
</ng-container>
