<div class="dfs-start-page__wrapper">
    <div class="dfs-start-page__title">Вас приветствует система симуляции потоков в IT</div>
    <form class="dfs-start-page__form"
          [formGroup]="_formGroup">
        <mat-form-field appearance="fill">
            <mat-label>Название организации</mat-label>
            <input matInput
                   required
                   type="text"
                   placeholder="Название организации"
                   formControlName="projectName">
        </mat-form-field>
        <label>
            <span>Файл с настройками: </span>
            <input type="file" formControlName="configuration">
        </label>
        <div class="dfs-start-page__next-button">
            <button mat-raised-button
                    type="submit"
                    [disabled]="!(_formValid$ | async)"
                    (click)="_onNavigateToNextStepClick()">
                Перейти к настройке
            </button>
        </div>
    </form>
</div>
