<div class="dfs-main-container__inner"
     [@flashAnimations]>
    <div class="dfs-main-container__header">
        <dfs-header [logoLabel]="'IT Data Flow Simulator'"
                    [tabTemplate]="tabTemplate"
                    [headerTemplate]="headerLabelTemplate"
                    [rightBarTemplate]="userInfoTemplate"
                    [models]="_models"
                    (onHeaderClick)="_onLogoClick()">
        </dfs-header>
    </div>
    <div class="dfs-main-container__wrapper">
        <div class="dfs-main-container__wrapper-scroll">
            <router-outlet></router-outlet>
            <div class="dfs-main-container__footer">
                <div class="dfs-main-container__footer-content">
                    <a href="{{_contactsDataConfig.repoLink}}">{{_contactsDataConfig.repoText}}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #tabTemplate let-model="model">
    <button mat-button
            disableRipple="true"
            (click)="_navigateTo(model.route)">
        {{model.tabName}}
    </button>
</ng-template>

<ng-template #userInfoTemplate>
    <button class="dfs-main-container__header-email"
            mat-button>
        Помощь
    </button>
</ng-template>

<ng-template #headerLabelTemplate>
    <div class="dfs-main-container__header-label">{{" > " + (label$ | async)}}</div>
</ng-template>
